.background {
    background-color: pink;
}


/* .card {
    width: 10px;
    height: 10px;
}


/* resize images */


/* 
.card img {
    width: 100%;
    height: auto;
}  */


/* .card-group {
    width: 580px;
    height: 580px;
} */