{% extends "base.html" %} {% block content %}
<h5>prices are ranked from high to low</h5>

<p id="length">There are {{ total_item_in_home_page[0] }} items in the page</p>

<div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <!-- <input type="text" id="myInput" onkeyup="mySearchFunction()" placeholder="Search for names.." title="Type in a name"> -->
</div>


<div class="dropdown show">
    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

        <a class="dropdown-item" href="{{ url_for('low_price') }}">price from low to high</a>
        <a class="dropdown-item" href="{{ url_for('high_price') }}">price from high to low</a>
    </div>
</div>


<div class="container">
    {% for high_products_list in get_price_high_to_low %}
    <div class="image" name="total" id="myTable">
        <!-- <input name="id_{{loop.index}}"> -->


        <img id="product-image-{{loop.index}}" src="{{ url_for('upload', filename=high_products_list[2]) }}" style="width: 300px">
        <h3 id="product-name-{{loop.index}}">{{ high_products_list[1] }}</h3>
        <h3 id="product-description-{{loop.index}}">{{ high_products_list[3] }}</h3>
        <h3 id="product-price-{{loop.index}}">{{ high_products_list[0] }}</h3>
        <button type="button" class="add-cart cart" onclick="myfunction('{{loop.index}}')">Add Cart</button>


        <input type=hidden value="15 ">
    </div>
    {% endfor %}


</div>

<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable h3").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}