{% extends "base.html" %} {% block content %}
<p id="length">There are {{ total_item_in_home_page[0] }} items</p>

<button type="button" onclick="myfunc('{{ total_item_in_home_page[0] }}')">try</button>


<div class="container">

    {% for products_list in all_products_data %}
    <div class="image" name="total">
        <!-- <input name="id_{{loop.index}}" hidden value="{{loop.index}}"> -->
        <img id="product-image-{{loop.index}}" src="{{ url_for('upload', filename=products_list[3]) }}" style="width: 300px">
        <h3 id="product-name-{{loop.index}}">{{ products_list[1] }}</h3>
        <h3 id="product-description-{{loop.index}}">{{ products_list[2] }}</h3>
        <h3 id="product-price-{{loop.index}}">{{ products_list[4] }}</h3>
        <button type="button" class="add-cart cart" onclick="myfunction('{{loop.index}}')">Add Cart</button>


        <input type=hidden value="15 ">
    </div>
    {% endfor %}


</div>





<script src="{{url_for( 'static', filename='javascript/main.js' )}} "></script>

<!-- </div> -->
{% endblock %}