{% extends 'base.html' %} {% block content %}
<div class="background">
    <h4>Here are our menu</h4>

    <h1>Hello, {{ user.username }}!</h1>


    <div class="card-deck">
        {% for image in totalImages %}
        <div class="card" style="width: 40rem;">

            <img src="{{ image }}" class="card-img-top" alt="..." />
            <!-- <img src="{{ upload_image }}" class="card-img-top" alt="..."> -->
            <div class="card-body text-center">
                <h5 class="title">strawberry cake</h5>
                <p class="text">This cake contains strawberry</p>
                <a href="{{ url_for('userTransactions', username = current_user.username) }}" class="btn btn-primary">add to cart</a>
            </div>
        </div>
        {% endfor %}
    </div>


</div>

</div>

{% endblock %}