<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmysBakery Login Page</title>

    <link href="{{url_for('static', filename='css/loginPage.css')}}" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <p>hell</p> -->

    <form action="" method="post">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome to Amy's Bakery !</h1>

            </div>
        </div>


        <div class="container">
            <div class="form-group">
                <div>
                    {{ form.hidden_tag() }}
                    <label for="InputUsernameLabel">Enter your username</label>
                    <br>
                    <p name="nm">{{ form.username(size=32) }}</p>

                </div>
            </div>

            <div class="form-group">
                <div>
                    <label for="InputPasswordLabel">Enter your password</label>
                    <br> {{ form.password(size=32) }}

                </div>
            </div>

            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>

            <button type="submit" class="btn btn-primary">Submit</button>

            <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>


            <div id="flash"><br/> {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
            </div>

        </div>

        </div>





    </form>



</body>

</html>