{% extends 'base.html' %} {% block content %}
<h1>hello</h1>

<div class="container">

    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <div class="change-size">
                            <img src="../static/images/cake1.jpeg" alt="">
                        </div>

                        <div>
                            <p>red tshirt</p>
                            <small>price: $50.00</small>
                            <br>
                            <a href="">remove</a>

                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>

            <tr>
                <td>
                    <div class="cart-info">
                        <div class="change-size">
                            <img src="../static/images/cake2.jpeg" alt="">
                        </div>

                        <div>
                            <p>red tshirt</p>
                            <small>price: $70.00</small>
                            <br>
                            <a href="">remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>

            <tr>
                <td>
                    <div class="cart-info">
                        <div class="change-size">
                            <img src="../static/images/cake3.jpeg" alt="">
                        </div>

                        <div>
                            <p>red tshirt</p>
                            <small>price: $80.00</small>
                            <br>
                            <a href="">remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>

        </table>


        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>$200.00</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>$0.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$230.00</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}